/* General Body and Layout */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.main-content {
    margin-left: 250px;
    padding: 2rem;
}

/* Sidebar Navigation */
.module-link {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #4b5563;
    transition: all 0.2s ease-in-out;
}

.module-link:hover, .module-link.active {
    background-color: #e5e7eb;
    color: #1f2937;
}

/* Reusable Components */
.card {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.icon-small {
    width: 1.5rem;
    height: 1.5rem;
}

.top-tab-link, .bottom-tab-link {
    padding: 8px 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

/* Invoice Viewer Section */
.invoice-viewer-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
}

.invoice-content-viewer {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
}


/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: none;
    }

    .main-content {
        margin-left: 0;
    }

    .sidebar nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .table-group-container {
        grid-template-columns: 1fr;
    }
}
